:root {
  --backgroundd: #197590;
  --container-color: #ebf4fc;
  --new: #227293;
  --disc: #e55a53;
  --star: #ffcb65;
  --white: #fff;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.15s ease-in-out;
  list-style-type: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
.root {
  min-height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  background-color: var(--backgroundd);
}
.items-container {
  width: 55%;
  height: 75%;
  text-align: center;
  padding: 2.5rem 2rem;
  background-color: var(--container-color);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}
.items-container h1 {
  font-size: 2.42rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}
.items-container > p {
  font-size: 1.25rem;
  line-height: 1.6rem;
  width: 72%;
  text-align: center;
  padding: 0.5rem 0.75rem;
  margin: 0 auto 0.8rem auto;
  margin-bottom: 2rem;
}
.items-showcase {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}
.items-showcase img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  object-position: center;
  background-color: #fff;
}
.items-showcase .item.new {
  border: 2px solid var(--new);
  position: relative;
}
.items-showcase .item.new::after {
  content: "NEW";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.3rem;
  padding: 0.45rem 0.65rem;
  background-color: var(--backgroundd);
  color: var(--container-color);
}
.items-showcase .item.dis {
  position: relative;
}
.items-showcase.dis .item.new {
  border: 2px solid transparent;
}
.items-showcase.dis .item.dis {
  border: 2px solid var(--disc);
}
.items-showcase .item.dis::after {
  content: "-23%";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.3rem;
  padding: 0.45rem 0.65rem;
  background-color: var(--disc);
  color: var(--container-color);
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  /* width: 72%;
  height: 45%; */
  margin: 0 auto;
  gap: 2.5rem;
  /* background-color: #fff;  */
}
.bottom .image-container {
  position: relative;
}
.bottom .image-container::after {
  content: "NEW";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.3rem;
  padding: 0.45rem 0.65rem;
  background-color: var(--backgroundd);
  color: var(--container-color);
}

.bottom .image-container img {
  width: 100%;
  height: 100%;
}
.bottom .item-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* gap: 0.51rem; */
  /* background-color: #e55a53; */
}
.bottom .item-info > p {
  font-size: 1.5rem;
  font-weight: 500;
}
.bottom .item-info > p:nth-child(1) {
  color: #000006;
  margin-bottom: 0.385rem;
}
.bottom .item-info > p:nth-child(2) {
  color: #00020a;
  font-size: 1.65rem;
  font-weight: 700;
  margin-bottom: 0.65rem;
}
.bottom .item-info p:nth-child(4) {
  margin: 1rem 0;
  font-size: 1.2rem;
  text-align: left;
  color: #677179;
  font-weight: 400;
}
.rating i {
  margin-top: 0.15rem;
  font-size: 1.24rem;
  color: var(--star);
}
.bottom .item-info .link {
  flex: 1;
  /* height: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  /* width: 100%; */
  /* background-color: red; */
}
.bottom .item-info .link a i {
  margin-left: 0.51rem;
}
.bottom .item-info .link a {
  font-size: 1.35rem;
  padding: 0.75rem 1.3rem;
  color: #fff;
  background-color: var(--new);
}

/* media screen and media quries */

@media only screen and (min-width: 0px) {
  .root {
    position: relative;
    overflow: hidden;
  }
  .root::after {
    content: "Please View on Bigger Screen";
    position: absolute;
    inset: 0;
    background-color: #263238;
    color: #fff;
    z-index: 10;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 1.5rem;
    display: grid;
    place-items: center;
  }
}
@media only screen and (min-width: 320px) {
  .root {
    padding: 4rem 0;
    overflow: visible;
  }
  .root::after {
    display: none;
  }
  .items-container {
    height: 100%;
  }
  .items-showcase,
  .bottom {
    flex-direction: column;
  }
  .bottom {
    height: max-content;
    border-top: 2px dashed rgba(0, 0, 0, 0.5);
    padding: 1rem 0;
    /* height: 100%; */
  }
  .bottom .image-container {
    width: 100%;
    height: 100%;
  }
  .image-container img {
    object-fit: cover;
    object-position: center;
  }
}
@media only screen and (min-width: 425px) {
  .items-showcase {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .bottom .image-container {
    width: 45%;
  }

  .bottom div+ p{
    width: 85%;
  }
  .bottom .item-info {
    flex: 1;
  }
}
@media only screen and (min-width: 768px) {
  .bottom {
    flex-direction: row;
    align-items: stretch;
    height: auto;
  }
  .bottom .image-container {
    width: 200px;
  }
  .bottom .item-info {
    gap: 0.45rem;
    height: inherit;
    width: inherit;
  }
}
