:root {
  --background-backuo: rgb(252, 141, 96);
  --background: linear-gradient(
    77deg,
    rgba(252, 141, 96, 1) 36%,
    rgba(255, 197, 110, 1) 78%
  );
  --nav-bg: #242e4c;
  --click-btn: #ff6144;
  --color: #f3f3f4;
  --title-color: #242e4c;
  --p: #242e4c;
  --placeholder: #9196a5;
  --white: #fff;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.15s ease-in-out;
  list-style-type: none;
  text-decoration: none;
}
html {
  font-size: 62.5%;
  font-family: "Roboto";
}

i {
  font-family: "FontAwesome";
  color: var(--placeholder);
}

.root {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--background-backuo);
  background: var(--background);
  overflow: hidden;
}
.container {
  background-color: #f3f3f4;
  /* height: 500px; */
  width: 80%;
  margin: 0 auto;
  border-radius: 0.5rem;
  overflow: hidden;
}

header {
  padding: 1.2rem 2.5rem;
  background-color: var(--nav-bg);
  color: var(--color);
  text-align: end;
}
header nav {
  display: inline-block;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.85rem;
  font-size: 1.35rem;
}
header nav ul li {
  padding: 0.45rem 0.65rem;
  cursor: pointer;
}
header nav > ul > li:hover {
  color: #fafafb7b;
}
header nav ul li.special {
  background-color: var(--click-btn);
  padding: 1rem 2rem;
  border-radius: 0.51rem;
}
header nav ul li.special:hover {
  color: var(--click-btn);
  box-shadow: 1px 1px 5px lightcoral;
  background-color: #ffffff;
}
.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.1rem;
  transition: inherit;
}
.dropdown span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.85rem;
}
.dropdown img {
  width: 15px;
  height: 15px;
  filter: invert(0.7);
  transition: inherit;
  transform: rotate(90deg);
}
.dropdown:hover img {
  transform: rotate(-90deg);
}
.dropdown ul {
  display: none;
  opacity: 0;
  padding: 0.5rem 0.75rem;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  top: 27px;
  margin-left: -5px;
  color: royalblue;
  background: rgba(0, 0, 0, 0.879);
  transition: inherit;
  border-radius: 1rem;
}
.dropdown:hover ul {
  opacity: 1;
  display: flex;
}
.dropdown ul:hover {
  background: rgba(0, 0, 0, 1.879);
}
.dropdown ul li:hover {
  color: cadetblue;
}
/* main */
main {
  height: 450px;
  background-image: url("Images/Home-1\ \(1\).png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding: 1.3rem 4.5rem;
}

.landing-page {
  padding: 1rem;
}
.landing-page {
  margin-top: -11rem;
}
.landing-page h1 {
  color: var(--title-color);
  font-size: 2.85rem;
  opacity: 0.9;
  width: 65%;
  cursor: default;
  margin-bottom: 0.75rem;
}
.landing-page h1:hover {
  color: royalblue;
}
.landing-page p {
  font-size: 1.4rem;
  font-weight: 500;
}
.search {
  margin-top: 4.5rem;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  border-radius: 0.5rem;
  /* overflow: hidden; */
  /* border: 1px solid red; */
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.319);
}

.search .input-wrap {
  flex: 1;
  position: relative;
}
.input-wrap input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 0.15rem;
  padding: 0.85rem 3rem 0.85rem 1.3rem;
}
.input-wrap input:focus-within {
  border: 2px solid var(--click-btn);
}
.input-wrap input::placeholder {
  color: var(--placeholder);
  letter-spacing: 1px;
}
.search i {
  position: absolute;
  top: 50%;
  right: 1.2rem;
  z-index: 10;
  font-size: 1.6rem;
  transform: translateY(-50%);
  display: block;
}
.search a {
  padding: 1.5rem 2rem;
  color: #f3f3f4;
  font-size: 1.265rem;
  letter-spacing: 0.25px;
  margin-left: -2px;
  align-self: end;
  /* border-radius: 1rem; */
  background-color: var(--click-btn);
}
.search a:hover {
  opacity: 0.8;
}
/* footer */
footer {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 2.5rem;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.119);
  font-size: 1.5rem;
}
footer .socials,
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2.25rem;
}
footer p {
  margin-left: -15rem;
}
footer .socials {
  font-size: 2rem;
  gap: 1.42rem;
  cursor: pointer;
}
footer .socials a:hover i {
  color: royalblue;
}
footer li:hover,
footer p:hover {
  color: black;
  opacity: 0.7;
  cursor: pointer;
}
@media only screen and (max-width: 1024px) {
  footer p {
    margin: 0;
  }
}
@media only screen and (max-width: 800px) {
  footer {
    font-size: 1.3rem;
  }
  .root {
    padding: 1rem 0;
  }
  main {
    height: 360px;
  }
}
@media only screen and (max-width: 690px) {
  footer {
    font-size: 1.13rem;
  }
  .root {
    padding: 1rem 0;
  }
  .landing-page{
    margin-top: 4rem;
  }
  main {
    height: 360px;
  }
}
@media only screen and (max-width: 500px) {
  footer {
    font-size: 0.9rem;
    flex-wrap: wrap;
    gap: 0.85rem;
    text-align: center;
  }
  header nav > ul li:nth-child(1),
  header nav > ul li:nth-child(2),
  header nav > ul li:nth-child(2) {
    display: none;
  }
  main {
    align-items: center;
    justify-content: center;
  }
  .landing-page {
    margin-top: 0;
  }
  main .search {
    width: 135%;
    margin-left: -1.9rem;
  }
  main .landing-page h1 {
    font-size: 1.7rem;
    width: 90%;
    margin-top: 0;
  }
  .root {
    padding: 1rem 0;
  }
  main {
    height: 370px;
  }
}
@media only screen and (max-width:319px){
    .root{
        position: relative;
    }
    .root::after{
        content: 'PLESE VIEW ON BIGGER SCREEN';
        position: absolute;
        inset: 0;
        background-color: black;
        display: grid;
        place-items: center;
        color: #ff6144;
        z-index: 11;
        font-size: 1.6rem;
    }
}