:root {
  -bg: rgb(62, 182, 223);
  --gradient-bg: linear-gradient(
    80deg,
    rgba(62, 182, 223, 1) 36%,
    rgba(115, 230, 233, 1) 63%
  );
  --light-black: #78909c;
  --title: #676a6c;
  --button-back: #3cb4e0;
  --white: #fff;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  transition: all 0.15s ease-in-out;
}
html {
  font-size: 62.5%;
  font-family: "Mulish";
}
.root {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #dbdbdb;
  overflow: hidden;
}
span {
  display: block;
}
/* main question box */
.quiz-question.container {
  position: relative;
}
.bottom {
  width: 100%;
  padding: 2.5rem 1rem 3.5rem 1rem;
  background-color: #fff;
  height: 330px;
}
.bottom .quiz-question {
  width: 445px;
  margin: 0 auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 1.5rem 2.5rem;
  /* margin-top: -50px; */
  position: absolute;
  top: 17%;
  left: 0;
  right: 0;
  z-index: 15;
  background-color: #fff;
}

/* top */
.quiz-question.container {
  width: 520px;
  /* border: 1px solid red; */
}
.quiz-question.container .top {
  position: relative;
  z-index: 6;
}
.quiz-question.container .top::before {
  content: url("Images/Layer\ 4.png");
  position: absolute;
  inset: 0;
  object-fit: contain;
  height: max-content;
  width: 626px;
  object-position: center;
  top: 15px;
  transform: scale(-1, 1);
}

.quiz-question.container .top .top-width-control {
  /* background-color: blueviolet; */
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 1rem 4.3rem 1rem;
  min-height: 50px;
  color: var(--white);
  font-size: 1.5rem;
}
.quiz-question.container .top {
  min-height: 50px;
  width: 100%;
  background-color: #3cb4e0;
  overflow: hidden;
}

.bottom .quiz-question p:nth-child(1) {
  display: flex;
  flex-direction: row;
  gap: 0.35rem;
  font-size: 1.343rem;
  padding: 0.5rem 0;
}
.bottom .quiz-question .question-title {
  font-size: 1.67rem;
  color: var(--title);
  margin: 0.35rem 0 1.45rem 0;
}
.bottom .quiz-question h1 + p {
  font-size: 1.6rem;
  margin: 0.5rem 0 0.74rem 0;
}
.bottom .options,
.bottom .options .option {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  width: 100%;
}
.bottom .options {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.bottom .options .option span {
  font-size: 2rem;
  font-weight: 600;
}
.bottom .options .option.clicked,
.bottom .options .option:hover {
  background: var(--gradient-bg);
  color: var(--white);
}
.bottom .options .option {
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  font-size: 1.35rem;
  width: 100%;
  transition: inherit;
}
.bottom .quiz-question p:nth-child(1),
.bottom .quiz-question h1 + p {
  color: var(--light-black);
}
.top-width-control ul,
.top-width-control ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 9;
}
.top-width-control ul {
  gap: 4rem;
}
.top-width-control ul li {
  gap: 5px;
}
.top-width-control ul li span {
  font-size: 1.81rem;
}
.top-width-control ul li span.correct::before {
  content: "\f00c";
  font-family: "FontAwesome";
  margin-right: 6px;
}
.top-width-control ul li span.wrong::before {
  content: "\f00d";
  margin-right: 5px;
  font-family: "FontAwesome";
}
.timer::before {
  content: "\f03e";
  font-family: "FontAwesome";
  margin-right: 8px;
  font-size: 1.75rem;
}
/* answers-buttons section over */
.answers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px solid royalblue; */
  position: absolute;
  left: 0;
  top: 78%;
  right: 0;
  gap: 1.3rem;
  color: #fff;
  margin-top: 2.5rem;
  z-index: 9;
}
.answers a {
  padding: 1rem 1.65rem;
  border-radius: 5px;
  letter-spacing: 0.5px;
  font-size: 1.3rem;
  color: var(--button-back);
  border: 1px solid var(--button-back);
}
.answers a:nth-child(2) {
  color: inherit;
  background-color: var(--button-back);
}
.answers a:hover {
  color: #ffffff;
  cursor: pointer;
  background-color: rgb(37, 133, 169);
}
/* media query */
@media only screen and (min-width: 0px) {
  .root:before {
    content: "PLEASE VIEW ON BIGGER SCREEN";
    position: absolute;
    inset: 0;
    background-color: #000;
    color: #fff;
    z-index: 22;
  }
}
@media only screen and (min-width: 320px) {
  .root::before {
    display: none;
  }
  .root {
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .quiz-question.container {
    transform: scale(0.58);
  }
}
@media only screen and (min-width: 375px) {
  .quiz-question.container {
    transform: scale(0.7);
  }
}
@media only screen and (min-width: 425px) {
  .quiz-question.container {
    transform: scale(0.8);
  }
}
@media only screen and (min-width: 500px) {
  .quiz-question.container {
    transform: scale(0.9);
  }
}

@media only screen and (min-width: 768px) {
  .quiz-question.container {
    transform: scale(1.1);
  }
}