:root {
  -bg: rgb(62, 182, 223);
  --gradient-bg: linear-gradient(
    80deg,
    rgba(62, 182, 223, 1) 36%,
    rgba(115, 230, 233, 1) 63%
  );
  --light-black: #78909c;
  --title: #676a6c;
  --button-back: #3cb4e0;
  --white: #fff;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  transition: all 0.15s ease-in-out;
}
html {
  font-size: 62.5%;
  font-family: "Mulish";
}
.root {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
span {
  display: block;
}
/* main question box */
.bottom {
  width: 80%;
  margin: 0 auto;
  padding: 2.5rem 1rem 5rem 1rem;
}
.bottom .quiz-question {
  width: 100%;
  /* height: 100%; */
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

/* top */
.quiz-question.container {
  width: 520px;
  /* border: 1px solid red; */
}
.quiz-question.container .top {
  position: relative;
  z-index: 6;
}
.quiz-question.container .top::before {
  content: url("Images/Layer\ 4.png");
  position: absolute;
  inset: 0;
  object-fit: contain;
  height: max-content;
  width: 626px;
  object-position: center;
  top: 15px;
  transform: scale(-1, 1);
}

.quiz-question.container .top .top-width-control {
  /* background-color: blueviolet; */
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 1rem 5rem 1rem;
  min-height: 50px;
  color: var(--white);
  font-size: 1.5rem;
}
.quiz-question.container .top {
  min-height: 50px;
  width: 100%;
  background-color: #3cb4e0;
}
.top-width-control ul,
.top-width-control ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.top-width-control ul {
  gap: 4rem;
}
.top-width-control ul li {
  gap: 5px;
}
.top-width-control ul li span {
  font-size: 1.81rem;
}
.top-width-control ul li span.correct::before {
  content: "\f00c";
  font-family: "FontAwesome";
  margin-right: 6px;
}
.top-width-control ul li span.wrong::before {
  content: "\f00d";
  margin-right: 5px;
  font-family: "FontAwesome";
}
.timer::before {
  content: "\f03e";
  font-family: "FontAwesome";
  margin-right: 8px;
  font-size: 1.75rem;
}
/* answers-buttons section over */
.answers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px solid royalblue; */
  gap: 1.3rem;
  color: #fff;
}
.answers a {
  padding: 1rem 1.65rem;
  border-radius: 5px;
  letter-spacing: 0.5px;
  font-size: 1.3rem;
  color: var(--button-back);
  border: 1px solid var(--button-back);
}
.answers a:nth-child(2) {
  color: inherit;
  background-color: var(--button-back);
}
.answers a:hover {
  color: #ffffff;
  background-color: rgb(37, 133, 169);
}
