@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");
:root {
  --body: #f2f5ff;
  --button: #6a83d3;
  --login-text: #322f5e;
  --off-page-bg: #202d54;
  --off-page-off: #1e2b57;
  --off-page-off-radius: #2d3f6d;
  --off-text: #5f77d1;
  --on-page-slider: #6b82d3;
  --on-page-button: #1d295b;
  --on-page-button-radius: #e9eff4;
  --on-page-slider-color: #f0eef8;
  --login-page-box-border: #f2f2f4;
  --white: #fff;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.15s ease-in-out;
  font-family: "Poppins", sans-serif;
}
.root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--body);
}
main {
  width: 320px;
  height: 500px;
  background-color: var(--white);
  box-shadow: 1px 2px 50px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  /* padding: 0rem 2rem 1rem 2rem; */
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  align-items: flex-start;
  padding: 0rem 2rem 1rem 2rem;
  position: absolute;
  inset: 0;
  z-index: 8;
  background-color: #fff;
}
.head-image {
  width: 41%;
  /* transform: scale(1.1) translateY(10px); */
  margin: 0 auto;
}
.head-image img {
  width: 100%;
}
.login-form {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}
.login-form label {
  display: block;
  font-size: 0.9rem;
  letter-spacing: 1.1px;
  font-weight: 600;
  color: var(--login-text);
  margin-bottom: 2px;
}
.login-form input {
  display: block;
  width: 100%;
  padding: 0.671rem 1.5rem 0.67rem 0.83rem;
  border: 2.5px solid;
  border-radius: 6px;
  margin: 0.25rem 0 0.94rem 0;
  border-color: var(--login-page-box-border);
}
.login-form .fake-login {
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 0.8rem 0rem;
  background-color: var(--button);
  color: var(--white);
  margin-top: 2rem;
  transition: all 0.15s ease;
}
.login-form .fake-login:hover {
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.274));
}

.off-page {
  /* align-self: flex-end; */
  height: 100%;
  width: 100%;
  border-radius: 10px;
  color: #fff;
  background-color: #1d295b;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  inset: 0;
  z-index: 7;
}
.off-page .off-btn,
.on-btn {
  margin-bottom: 4rem;
  letter-spacing: 1.21px;
  font-size: 20px;
  padding: 20px 17px;
  color: var(--off-text);
  cursor: pointer;
  background-color: var(--off-page-bg);
  border-radius: 50%;
  font-weight: 600;
  outline: none;
  transform: scale(1.12);
  transition: all 0.15s ease-in-out;
  border: 7px solid var(--off-page-off-radius);
}
.off-page .off-btn:active,
.on-btn:active {
  border: 7px solid transparent;
}
.hide {
  display: none;
}
.on-page {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  background-color: var(--white);
  z-index: 6;
}
.bottom {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.bottom-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.on-btn {
  color: var(--on-page-button);
  background-color: var(--white);
  border: 7px solid var(--on-page-button-radius);
}
.bottom img {
  transform: translateY(-12px);
}
.bottom-bottom img:nth-of-type(2) {
  margin-right: -5px;
}
.bottom img,
.on-btn {
  position: relative;
  z-index: 10;
}
.slide-circle {
  margin: 2rem auto;
  height: 200px;
  width: 200px;
  transform: scale(1.075) translateY(20px);
  border-radius: 50%;
  position: absolute;
  outline: 6px solid var(--on-page-button-radius);
  background-color: #fff;
  z-index: 1;
}
.slide-circle::after {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: var(--button);
  border-radius: 50%;
  top: 9%;
  left: 12px;
  cursor: pointer;
}
.slide-circle:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  transform: scale(1.2) translateY(60px);
}
